Pay365/Pay365.BillingReport/Service References/ReportService/ReportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess.OrdersAPI.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess.OrdersAPI.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" nillable="true" type="tns:BankInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankInfo" nillable="true" type="tns:ArrayOfBankInfo" />
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankFeeAmount" type="xs:long" />
      <xs:element minOccurs="0" name="BankID" type="xs:int" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CardColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkLogoMobileGrid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkLogoMobileIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogoMobileGrid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogoMobileIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankInfo" nillable="true" type="tns:BankInfo" />
  <xs:complexType name="ArrayOfWebsitePayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebsitePayment" nillable="true" type="tns:WebsitePayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebsitePayment" nillable="true" type="tns:ArrayOfWebsitePayment" />
  <xs:complexType name="WebsitePayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="ChargePackageID" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDatetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LinkLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrlNoitification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlReturn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebsitePayment" nillable="true" type="tns:WebsitePayment" />
</xs:schema>